.panel {
    margin-top: 20px;
}
.panel-body {
    height: 450px;
    align-items: center;
}

hr {
    /*margin-top: unset;*/
    border-bottom: 1px solid #ddd;
}

.panel-body h3.muted {
    color: #aaa;
    /*font-style: italic; */
}
.panel-body p{
    font-style: italic;
    text-emphasis-color: #002247;
    font-weight: bolder;
    font-size: medium;
}
h5 {
    text-transform: uppercase;
}

.story-text p {
    padding-top: 55px;
}

.story-meta li {
    font-family: 'DINOffcBold';
    color: #666;
    font-size: medium;
    font-style: italic;
}

@media (max-width: 768px) {
    .panel-body {
        height: 400px;
    }
}

@media (min-width: 991px) {
    .panel-body {
        height: 450px;
    }
}