{% extends 'base.html' %}

{% block content %}
<div id="engelhard-carousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#engelhard-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#engelhard-carousel" data-slide-to="1"></li>
    {#<li data-target="#engelhard-carousel" data-slide-to="2"></li>#}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active embed-responsive">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/141193216" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="item" style="background-image: url('{{ url_for('static', filename='img/feature-icons.jpg') }}');">
      <div class="carousel-caption">
        <h3>Celebrating Ten Years of the Engelhard Project at Georgetown</h3>
        <p>Since 2005, the Engelhard Project has enriched the Georgetown experience for thousands of students, faculty, and staff. We are proud to celebrate the first ten years of the Project and are deeply grateful to all those who have made this meaningful work possible.</p>
      </div>
    </div>
{#
    <div class="item" style="background-image: url('{{ url_for('static', filename='img/feature-pinkard.jpg') }}');">
      <a href="{{ url_for('page', path='profiles') }}">
      <div class="carousel-caption">
        <h3>Featured Project Profile: Foundations in Biology</h3>
          <p>Heidi Elmendorf teaches her 250-student introductory biology class as an Engelhard course in order to more fully engage students and humanize the material.</p>
      </div>
      </a>
    </div>
#}
  </div>

{#
  <!-- Controls -->
  <a class="left carousel-control" href="#engelhard-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#engelhard-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
#}
</div>

<section id="about" class="blue">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="tier-intro">Embodying Georgetown’s mission of <em>cura personalis</em>, and exemplifying the kind of high-impact learning practice that characterizes a Georgetown education, the Engelhard Project represents an innovative approach to integrating student wellness issues into academic contexts.</p>
      </div>
      <div class="col-md-4">
        <h2>About the Project</h2>
        <p class="lead">The Engelhard Project for Connecting Life and Learning focuses on teaching to the whole student. By incorporating health and wellness issues into the classroom, the Project fosters academic learning and encourages students to reflect on their own attitudes and behaviors.</p>
        <p>Using a curriculum infusion approach, Georgetown faculty link academic course content to health and wellness topics through readings, presentations, discussions led by campus health professionals, and reflective writing assignments. In addition, fitting with Georgetown's commitment to social justice, some courses extend this work with involvement in local communities. The project strives to create meaningful connections between faculty, students, and campus health professionals and encourages the practice of one of Georgetown's most important Jesuit principles, <em>cura personalis</em>, or care for the person.</p>
        <p>The Engelhard Project is made possible by an endowment from the Charles Engelhard Foundation, with additional support from alumni and parents.</p>
        <p><a href="{{ url_for('page', path='team') }}"><button class="btn btn-info">Meet the Engelhard Project team</button></a></p>
      </div><!-- /.col -->
      <div class="col-md-4">
        <h2>Celebrating Ten Years</h2>
        <p class="lead">What began as a curricular experiment in 2005 has evolved into one of the hallmarks of a Georgetown undergraduate education.</p>
        
        <p>The Engelhard Project has forged strong connections among faculty, student affairs staff, and students, not only enriching the Georgetown experience but also engaging in national conversations about the role of well-being in higher education. The Project's work has been shared formally and informally through conversations across campus, in academic journal articles, at national higher education conferences, and with a presentation by President DeGioia at a 2013 White House Conference on mental health.</p>
        
        <p>Since the project’s inception, <strong>9,874</strong> students have taken <strong>328</strong> Engelhard courses taught by more than <strong>97</strong> faculty members in over <strong>28</strong> departments across campus.</p>
        <p><a href="{{ url_for('static', filename='Engelhard_Program_Book.pdf') }}"><button class="btn btn-info">Read the 10-year Program Report</button></a></p>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
{% endblock %}

{% block postscript %}
<script type="text/javascript">
$(document).ready(function() {
  $(window).load(function(){
    // Remove the # from the hash, as different browsers may or may not include it
    var hash = location.hash.replace('#','');

    if(hash != ''){

       // Clear the hash in the URL
       // location.hash = '';   // delete front "//" if you want to change the address bar
        $('html, body').animate({ scrollTop: $('#about').offset().top - 60}, 500);

       }
   });
  // smooth scrolling
  $(function() {
    $('li.page-scroll a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top - 60
          }, 1000);
          return false;
        }
      }
    });
  });
});
</script>
{% endblock %}