{% extends 'base.html' %} {% block content %}
<!-- data-interval="false" tells the carousel not to autoplay, do give users with disabilities enough time to interact with content.-->
<!-- Also, auto-playing carousels are distracting. -->
<div id="engelhard-carousel" class="carousel slide" data-interval="false">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#engelhard-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#engelhard-carousel" data-slide-to="1"></li>
		<li data-target="#engelhard-carousel" data-slide-to="2"></li>
	</ol>



	<div class="carousel-inner">
		<div class="item active" style="background-image: url('{{ url_for('static', filename='img/2016063_CarBarn_Exterior-720h.jpg') }}'); ">
			<div class="carousel-caption">
				<h3>Now Accepting Course Proposals for the Engelhard Faculty Fellowship Program</h3>
				<p><a style="color: #33a4d4; font-weight: 600;" href="https://docs.google.com/forms/d/1EMPrXmjELOYk7F1-Wubj9GMOS3HuPAZr6JZYOB8OFvI/">Submit your proposal</a> for the current or upcoming semester.</p>
			</div>
		</div>
		<div class="item" style="background-image: url('{{ url_for('static', filename='img/rhonda2.jpg') }}');">
			<div class="carousel-caption">
				<h3>Learn How Our Faculty Fellows Integrate Wellbeing Topics Into Their Courses</h3>
                <p><a style="color: #33a4d4; font-weight: 600;" href="{{ url_for('page', path='stories') }}">Browse faculty stories</a> where cohort members from different academic disciplines detail their experiences in the project and ways that they address student wellbeing through curricular infusion.
                </p>
			</div>
		</div>
		<div class="item" style="background-image: url('{{ url_for('static', filename='img/feature-icons.jpg') }}');">
			<div class="carousel-caption">
				<h3>What We’re Learning About Learning: Supporting Student Well-being and Learning</h3>
				<p><a style="color: #33a4d4; font-weight: 600;" href="https://cndls.georgetown.edu/resources/podcast/s2e6/">An episode of the CNDLS podcast</a> explores how Georgetown faculty, staff, and administrators have cultivated trust, belonging, persistence, vulnerability, and whole-person learning in the classroom.
				</p>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#engelhard-carousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#engelhard-carousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<section id="about" class="blue">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>The Engelhard Project for Connecting Life and Learning</h2>
				<p class="lead">
					Embodying Georgetown’s mission of cura personalis, and exemplifying the kind of high-impact learning practice that characterizes a Georgetown education, the Engelhard Project represents an innovative approach to integrating student well-being issues into academic contexts.
				</p>
				<p class="lead">
					The Engelhard Project for Connecting Life and Learning builds on the principles of whole person education by supporting faculty and campus resource professionals as partners in incorporating health and well-being issues into the classroom. This curricular approach enhances academic learning, encourages students to reflect on their own attitudes and behaviors, and fosters faculty, staff, and student connections both in and out of the classroom that support students’ engagement in their learning.
				</p>
				<p class="lead">
					Faculty interested in the Project can explore more about <a style="color: #0071a1;" href="{{ url_for('page', path='engelhard-courses') }}">Engelhard courses here</a> and consider <a style="color: #0071a1;" href="https://forms.gle/48aGhuvdvKudCmof9" target="__blank">proposing an Engelhard course</a>. Staff who are interested in serving as a campus resource professional should indicate their interest on <a style="color: #0071a1;" href="https://forms.gle/rU5Xzw1wUdaQf7Mh6">this form</a> or contact the project for more information.
				</p>
				<p class="lead">
					The Engelhard Project is made possible by an endowment from the Charles Engelhard Foundation, with additional support from alumni and parents.
				</p>
			</div>
		</div>
	</div>
</section>

{% endblock %} {% block postscript %}
<script type="text/javascript">
	$(document).ready(function () {
		$(window).load(function () {
			// Remove the # from the hash, as different browsers may or may not include it
			var hash = location.hash.replace('#', '');

			if (hash != '') {

				// Clear the hash in the URL
				// location.hash = '';   // delete front "//" if you want to change the address bar
				$('html, body').animate({ scrollTop: $('#about').offset().top - 60 }, 500);

			}
		});
		// smooth scrolling
		$(function () {
			$('li.page-scroll a[href*=#]:not([href=#])').click(function () {
				if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
					if (target.length) {
						$('html,body').animate({
							scrollTop: target.offset().top - 60
						}, 1000);
						return false;
					}
				}
			});
		});
	});
</script> {% endblock %}
